<p>
<strong>Nombre del Grupo:</srtong>
<%= @group.name%>
</p>

<p>
<strong>Tipo de Grupo:</srtong>
<%= @group.tip_group%>
</p>

<p>
<strong>Horario:</srtong>
<%= @group.schedule%>
</p>



<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
