<h2> Agregue el Tiempo </h2>

<%= form_for :ranking_line, :url => {:action => 'addRanking'} do |f| %>
<%= f.hidden_field :user_id, :value => params[:id] %>
<table>
	<tr>
		<th> Nombre </th>
		<td> <%= @student.full_name %> </td>
	</tr>

	<tr> 
		<td> Estilo </td>
		<td> <%=  f.collection_select :style, RankingLine::STYLES, :to_s, :to_s, include_blank: true  %>  </td>
	</tr>
	<tr> 
		<td> Distancia </td>
		<td> <%=  f.collection_select :distance, RankingLine::DISTANCES, :to_s, :to_s, include_blank: true  %>  </td>
	</tr>
	

	<tr>
		<th> Tiempo </th>
		<td><%= f.text_field :minutes, class: 'time_measure_input'%></td>
		<td>:<%= f.text_field :seconds , class: 'time_measure_input'%></td>
		<td>:<%= f.text_field :tenths , class: 'time_measure_input' %></td>
	</tr>

	<tr>
		<th> </th>
		<th>min</th>
		<th>sec</th>
		<th>dec</th>
	</tr>


	<tr>
		<th><%= submit_tag("Enviar") %></th>
		<td></td>
	</tr>

</table>
<%end%>

