<table>
	<tr>
		<td> <%= 'Carrera' %> </td>
		<td> <%= m.career %> </td>
	</tr>
	<tr>
		<td> <%= 'Género' %> </td>
		<td> <%= m.gender %> </td>
	</tr>
	<tr>
		<td> <%= 'Cédula' %> </td>
		<td> <%= m.local_id %> </td>
	</tr>
	<tr>
		<td> <%= 'No. de Pasaporte' %> </td>
		<td> <%= m.passport_id %> </td>
	</tr>
	<tr>
		<td> <%= 'Carné' %> </td>
		<td> <%= m.tec_id %> </td>
	</tr>
	<tr>
		<td> <%= 'Fecha de Nacimiento' %> </td>
		<td> <%= m.birth_date %> </td>
	</tr>

	<tr>
		<td> <%= 'Peso en KG' %> </td>
		<td> <%= m.weight_kg %> </td>
	</tr>
	<tr>
		<td> <%= 'Estatura' %> </td>
		<td> <%= m.height_cm %> </td>
	</tr>
	<tr>
		<td> <%= 'Edad' %> </td>
		<td> <%= m.age %> </td>
	</tr>
	<tr>
		<td> <%= 'Grupo Sanguineo' %> </td>
		<td> <%= m.blood_type %> </td>
	</tr><tr>
		<td> <%= 'Lateralidad derecha' %> </td>
		<td>

			<% if m.right_handed%>
			Si 
			<% else %>
			No 
			<%end %>
			</td></td>

	</tr>
	<tr>
		<td> <%= 'Nombre de Contacto de Emergencia' %> </td>
		<td> <%= m.emergency_contact_name %> </td>
	</tr>
	<tr>
		<td> <%= 'Cédula del Beneficiario' %> </td>
		<td> <%= m.local_id_receiver %> </td>
	</tr>

	<tr>
		<td> <%= 'Perentezco' %> </td>
		<td> <%= m.relation_type %> </td>
	</tr>
	<tr>
		<td> <%= 'Ultima edición en la que tuvo representación como atleta Juegos Nacionales' %> </td>
		<td> <%= m.last_edition_national_games %> </td>
	</tr>
	<tr>
		<td> <%= 'Ultima edición en la que tuvo participación con atleta selección universitaria ' %> </td>
		<td> <%= m.last_edition_university_team %> </td>
	</tr>
	<tr>
		<td> <%= 'Ultima edición en la que tuvo participación con atleta selección nacional' %> </td>
		<td> <%= m.las_edition_national_team %> </td>
	</tr>
	<tr>
		<td> <%= 'Cantón de procedencia' %> </td>
		<td> <%= m.city_of_origin %> </td>
	</tr>
	<tr>
		<td> <%= 'Residencia en tiempo lectivo  ' %> </td>
		<td> <%= m.residence_location %> </td>
	</tr>
	
</table>