<%= image_tag 'bg.jpeg', height:'100', :id => "bg" %>
<div class="outer_frame">
  <div class="middle_frame">
     <div class ="login">
      <%= image_tag 'logo.png', height:'50', class:'logo'%>
      <div class='form_container'>
      <H2> Recuperación de Cuenta </H2>
    <p> Enviaremos un código a tu correo. Una vez comprobado el código prodrás cambiar la contraseña </p>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
          <%= form_tag(:action => 'recover_account') do %>
            <table>
              <tr>
                <td> Email </td>
                <td> <%= text_field_tag(:email) %> </td>
              </tr>
              <tr>
                <td> &nbsp; </td>
                <td> <%= submit_tag("Enviar") %> </td>
              </tr>
            </table>
            <%end%>
      </div>

    </div>
  </div>
</div>