<%= image_tag 'bg.jpeg', height:'100', :id => "bg" %>
<div class="outer_frame">
  <div class="middle_frame">
     <div class ="login">
      <%= image_tag 'logo.png', height:'50', class:'logo'%>
      <div class='form_container'>
      <H2> Logueate para acceder </H2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
           <table>
              <tr>
                <td><%= "Correo" %></td>
                <td><%= f.email_field :email, autofocus: true %></td>
              </tr>
              <tr>
                <td><%= "Contraseña" %></td>
                <td><%= f.password_field :password, autocomplete: "off" %></td>
              </tr>


              <% if devise_mapping.rememberable? -%>

                 <tr>
                    <td><%= f.check_box :remember_me %></td>
                    <td><%= "Recordar" %></td>
                </tr>

              <% end %>

              <tr>
                <td> </td>
                <td>  <%= f.submit "Entrar" %> </td>
              </tr>

            </table>
             
             <div class='link_container'> 
                <%= render "devise/shared/links" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>