<table>
	<tr>
		<td> <%= 'Cedula' %> </td>
		<td> <%= m.text_field(:legal_id) %> </td>
	</tr>
	<tr>
		<td> <%= 'Carnet' %> </td>
		<td> <%= m.text_field(:tec_id) %> </td>
	</tr>
	<tr>
		<td> <%= 'Nombre Completo' %> </td>
		<td> <%= m.text_field(:name) %> </td>
	</tr>
	<tr>
		<td> <%= 'Carrera' %> </td>
		<td> <%= m.text_field(:carreer) %> </td>
	</tr>

	<tr>
		<td> <%= 'Año de Inicio' %> </td>
		<td> <%= m.text_field(:start_year) %> </td>
	</tr>
	<tr>
		<td> <%= 'Genero' %> </td>
		<td> <%= m.text_field(:gender) %> </td>
	</tr>
	<tr>
		<td> <%= 'Fecha de Nacimiento' %> </td>
		<td> <%= m.text_field(:birth_date) %> </td>
	</tr>

	<tr>
		<td> <%= 'Lugar de Trabajo' %> </td>
		<td> <%= m.text_field(:workplace) %> </td>
	</tr>
	<tr>
		<td> <%= 'Direccion de Estudios' %> </td>
		<td> <%= m.text_field(:study_address) %> </td>
	</tr>
	<tr>
		<td> <%= 'Nombre del Padre' %> </td>
		<td> <%= m.text_field(:father_name) %> </td>
	</tr>
	<tr>
		<td> <%= 'Nombre de la Madre' %> </td>
		<td> <%= m.text_field(:mother_name) %> </td>
	</tr><tr>
		<td> <%= 'Dirección de residencia' %> </td>
		<td> <%= m.text_field(:home_address) %> </td>
	</tr>
	<tr>
		<td> <%= 'Nombre de contacto en caso de accidente' %> </td>
		<td> <%= m.text_field(:accident_name) %> </td>
	</tr>
	<tr>
		<td> <%= 'Telefono en Caso de Accidente' %> </td>
		<td> <%= m.text_field(:accident_telephone) %> </td>
	</tr>

	<tr>
		<td> <%= 'Observaciones en Caso de Accidente' %> </td>
		<td> <%= m.text_field(:accident_comment) %> </td>
	</tr>
	<tr>
		<td> <%= 'Direccion en caso de Accidente' %> </td>
		<td> <%= m.text_field(:accident_address) %> </td>
	</tr>
	<tr>
		<td> <%= 'Ha participado en Equipos' %> </td>
		<td> <%= m.check_box(:team_history) %> </td>
	</tr>
	<tr>
		<td> <%= 'Logros Deprotivos Alcanzados' %> </td>
		<td> <%= m.check_box(:team_accomplishments) %> </td>
	</tr>
	<tr>
		<td> <%= 'Semestre' %> </td>
		<td> <%= m.text_field(:semester) %> </td>
	</tr>
	<tr>
		<td> <%= 'Año en Curso ' %> </td>
		<td> <%= m.text_field(:current_year) %> </td>
	</tr>
	<tr>
		<td> <%= 'Altura' %> </td>
		<td> <%= m.text_field(:height_cm) %> </td>
	</tr>
	<tr>
		<td> <%= 'Peso' %> </td>
		<td> <%= m.text_field(:weight) %> </td>
	</tr>

	<tr>
		<td> <%= 'Nombre del Doctor de Cabecera' %> </td>
		<td> <%= m.text_field(:doctor_name) %> </td>
	</tr>
	<tr>
		<td> <%= 'Tipo de Sangre' %> </td>
		<td> <%= m.text_field(:blood_type) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Padece de alguna enfermedad?' %> </td>
		<td> <%= m.check_box(:deasease) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Ha sido Hospitalizado?' %> </td>
		<td> <%= m.check_box(:hospitalized) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Ha tenido alguna Cirugía?' %> </td>
		<td> <%= m.check_box(:surgery) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Toma algún medicamento?' %> </td>
		<td> <%= m.check_box(:meds) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Toma Alguna vitamina o suplemento alimneticio?' %> </td>
		<td> <%= m.check_box(:vitamins) %> </td>
	</tr>

	<tr>
		<td> <%= '¿Padece de Alergias?' %> </td>
		<td> <%= m.check_box(:allergies) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Tiene algún Hematoma durante o después de la realización de ejercicio fisico?' %> </td>
		<td> <%= m.check_box(:bruises) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Ha sufrido Desmayos durante o después de la realización de ejercicio fisico?' %> </td>
		<td> <%= m.check_box(:faints) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Padece de Mareos durante o después de la realización de ejercicio fisico?' %> </td>
		<td> <%= m.check_box(:dizziness) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Ha tenido de dolor de Pecho durante o después de la realización de ejercicio fisico?' %> </td>
		<td> <%= m.check_box(:chestpain) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Padece de Dolores de Cabeza durante o después de la realización de ejercicio fisico?' %> </td>
		<td> <%= m.check_box(:headeache) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Padece de Colesterol Alto?' %> </td>
		<td> <%= m.check_box(:cholesterol) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Se ha sometido a estudios médicos del corazón?' %> </td>
		<td> <%= m.check_box(:heart_studies) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Ha tenido algún familiar que ha sufrido un ataque al corazón o de forma súbita antes de los 50 años?' %> </td>
		<td> <%= m.check_box(:heartattack_related) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Ha Tenido problemas en la piel?' %> </td>
		<td> <%= m.check_box(:skin_problems) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Ha tenido traumatismos craneal o conmoción cerebral?' %> </td>
		<td> <%= m.check_box(:concussion) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Ha presentado alguna vez pérdida del conocimiento?' %> </td>
		<td> <%= m.check_box(:memory_loss) %> </td>
	</tr>
	<tr> 
		<td> <%= '¿Ha tenido alguna ocasión convulsiones o tiene tratameinto anti-convulsivo?' %> </td>
		<td> <%= m.check_box(:convulsions) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Ha tenido alguna vez perdida de la sensibilidad u hormigueos en los brazos, piernas, manos o pies asociado o no al ejercio?' %> </td>
		<td> <%= m.check_box(:tingles) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Tiene tos, pitos, o dificultades respiratorias antes, durante o despúes del ejercicio?' %> </td>
		<td> <%= m.check_box(:cough) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Ha tenido algún problema de visón o de los ojos?' %> </td>
		<td> <%= m.check_box(:eye_problems) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Ha tenido alguna vez alguna fractura, esguince o desgarre?' %> </td>
		<td> <%= m.check_box(:sprains) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Padece de diabetes?' %> </td>
		<td> <%= m.check_box(:diabetes) %> </td>
	</tr>
	<tr>
		<td> <%= '¿Está o o tiene sospechas de estar enbarazada?' %> </td>
		<td> <%= m.check_box(:pregnant) %> </td>
	</tr>
</table>