<h1>Documentos</h1>

<table>
 <tr>
   <th>Titulo</th>
   <th>Grupo</th>
   <th>Link</th>
    <th colspan="3"></th>
 </tr>

 <% @documents.each do |document| %>
   <tr>
     <td><%= document.title %></td>
     <% if document.group_id != nil  %>
        <td><%= Group.find(document.group_id).name %></td>
    <% else %>
        <td></td>
    <%end%>
     <td><%= link_to "Link", document.text %></td>
     <td><%= link_to image_tag("editIcon.png", class: 'edit_icon', border: 0), edit_admin_document_path(document) %></td>
     <td><%= link_to image_tag("removeIcon.png", class: 'delete_icon', border: 0), admin_document_path(document),method: :delete,data: { confirm: 'Esta seguro?' } %>
     	
     </td>
   </tr>
 <% end %>

 <%= link_to image_tag("newIcon.png", class: 'new_icon', border: 0), new_admin_document_path %>