 <div id="topcontent">
	<div id="topbarcontainer">
		<div id="topleftlogocontainer" >
		    <%= image_tag 'logo.png', height:'100'%>
		</div>
		<div id='regulartopbtnholder'>

		<%= link_to "Home" , root_path %>
		<%= link_to "Noticias" , root_path %>
		<%= link_to "Estudiantes" , root_path %>
		<%= link_to "Grupos" , root_path %>
		<%= link_to "Rutinas" , root_path %>

		</div>
	</div>
</div>

