<!DOCTYPE html>
<html>
  <head>
    <title>Swimapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Anton|Arvo|PT+Sans" rel="stylesheet">
  </head>

  <body>
  
  <%= link_to "Noticias" , root_path %>
  <%= link_to "Estudiantes" , root_path %>
  <%= link_to "Grupos" , groups_path %>
  <%= link_to "Rutinas", routines_path %>
  <% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete,:class => 'navbar-link' %>
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>  
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
  <% end %>  

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

