<!DOCTYPE html>
<html>
  <head>
    <title>Swimapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Anton|Arvo|PT+Sans" rel="stylesheet">
  </head>

  <body>
    <div id="topcontent">
      <div id="topbarcontainer">
        <div id="topleftlogocontainer" >
            <%= image_tag 'logo.png', height:'25', class: 'logo_top_menu'%>
        </div>
            <div id='regulartopbtnholder'>
             
              <%= render 'layouts/top_nav_dispatcher' %>


               

            </div>
          </div>
        </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div id='main_content' >
    <%= yield %>
  </div>
  </body>
</html>

