<h1>Noticias</h1>

<table>
 <tr>
   <th>Titulo</th>
   <th>Cuerpo</th>
 </tr>

 <% @posts.each do |post| %>
   <tr>
     <td><%= post.title %></td>
     <td><%= post.text %></td>
     <td><%= link_to image_tag("editIcon.png", class: 'edit_icon', border: 0), edit_post_path(post) %></td>
     <td><%= link_to image_tag("removeIcon.png", class: 'delete_icon', border: 0), post_path(post),method: :delete,data: { confirm: 'Esta seguro?' } %>
     	
     </td>
   </tr>
 <% end %>

 <%= link_to image_tag("newIcon.png", class: 'new_icon', border: 0), new_post_path %>