<h1>Noticias</h1>

<table>
 <tr>
   <th>Title</th>
   <th>Text</th>
 </tr>

 <% @posts.each do |post| %>
   <tr>
     <td><%= post.title %></td>
     <td><%= post.text %></td>
     <td><%= link_to 'Ver', post_path(post) %></td>
     <td><%= link_to 'Editar', edit_post_path(post) %></td>
     <td><%= link_to 'Eliminar', post_path(post),method: :delete,data: { confirm: 'Esta seguro?' } %></td>
   </tr>
 <% end %>

 <%= link_to 'Nueva Noticia', new_post_path %>