<p id="notice"><%= notice %></p>

<h1>Rutinas</h1>
<%= link_to image_tag("newIcon.png", class: 'new_icon', border: 0), new_routine_path %>

<table>
  <thead>
    <tr>
      <th>Distance</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @routines.each do |routine| %>
      <tr>
        <td><%= routine.distance %></td>
        <td><%= routine.description %></td>
        <td><%= link_to image_tag("editIcon.png", class: 'edit_icon', border: 0), edit_routine_path(routine) %></td>
        <td><%= link_to image_tag("removeIcon.png", class: 'delete_icon', border: 0), routine, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

