<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @noticium.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @noticium.body %>
</p>

<%= link_to 'Edit', edit_noticium_path(@noticium) %> |
<%= link_to 'Back', noticia_path %>
