<h1> Videos </h1>
<h4>Cuota Disponible: <%= @remaining %>%</h4>
<p>Los videos son almacenados en una cuenta propia de Dropbox.
Esta cuenta tiene 2GB de almacenamiento. Por lo que se recomienda vigilar la cuota disponible. 
</p>
<p> Para borrar los videos de la base de datos y de Dropbox, haga clic <%= link_to 'aquí', admin_videos_clearDropbox_path %>
<br>
<h3>Selecciona primero el Grupo</h3>
<table>
	<tr>
	<th>ID</th>
	<th>Nombre</th>
	<th>Horario</th>
	<th></th>
	</tr>
	<% @groups.each do |group| %>
		<tr>
			<td><%= group.id %></td>
			<td><%= group.name %></td>
			<td><%= group.schedule %></td>
			<td><%= link_to  'Seleccionar', action: 'selectStudent', id: group.id %></td>
		</tr>

<%end %>

</table>

