<% if  params[:action]  == 'new' %>
  <%= form_for @routine, url: admin_routines_path(@routine) do |f| %>
   <% if @routine.errors.any? %>
     <div id="error_explanation">
       <h2>
         <%= pluralize(@routine.errors.count, "error") %> prohibited
         this routine from being saved:
       </h2>
       <ul>
         <% @routine.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
     </div>
   <% end %>
  
   <p>
     <%= f.label :Distancia %><br>
     <%= f.text_field :distance %>
   </p>
  
   <p>
     <%= f.label :Descripcion %><br>
     <%= f.text_area :description %>
   </p>
  
   <p>
     <%= f.submit 'Crear Rutina', :class => 'btn btn-primary', :name => 'submit' %> 
   </p>
  
 <% end %>

<% else %>
  <%= form_for @routine, url: admin_routine_path(@routine) do |f| %>
   <% if @routine.errors.any? %>
     <div id="error_explanation">
       <h2>
         <%= pluralize(@routine.errors.count, "error") %> prohibited
         this routine from being saved:
       </h2>
       <ul>
         <% @routine.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
     </div>
   <% end %>
  
   <p>
     <%= f.label :Distancia %><br>
     <%= f.text_field :distance %>
   </p>
  
   <p>
     <%= f.label :Descripcion %><br>
     <%= f.text_area :description %>
   </p>
  
   <p>
     <%= f.submit 'Editar Rutina', :class => 'btn btn-primary', :name => 'submit' %> 
   </p>
  
 <% end %>
<% end %>
  