<h1> Asistencia </h1>
<%= form_tag(admin_assistances_path, :method => "get", id: "search-form") do %>
    <th>Grupo</th>
    <%= select_tag :group_id, options_from_collection_for_select(Group.all, :id, :name, params[:group_id]), include_blank: true %>
    <%= submit_tag "Buscar" , :name => nil %>
<% end %>
<table>
    <tr>
        <th>Nombre</th>
        <th>Grupo</th>
        <th>Ver</th>
        <th colspan="3"></th>
</tr>

<% @assistances.each do |assistance| %>
<tr>
  <td><%= assistance.name %></td>
  <td><%= Group.find(assistance.group_id).name %></td>
  <td><%= link_to "Ver lista", {action: 'info_student',assistance: assistance.id} %> </td>  
</tr>
<% end %>